In [2]:
import pandas as pd

# DataFrame基礎知識
# pandasにはIndexクラスがある
# pandas.DataFrameには、indexとcolumnsというプロパティがあり、
# indexとcolumnsプロパティはIndexクラスが設定される
# pandas.Index https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Index.html

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], index=[10, 11, 11],columns=['b', 'a', 'b'])
df

    b  a  b
10  1  2  3
11  4  5  6
11  7  8  9

In [21]:
# locは、1次元の場合、index値で指定(pd.DataFrameは、indexとcolumnsというプロパティを持っている)
# 指定する値が1つで、該当件数が1件の場合pd.Seriesで返される
df.loc[10]

b    1
a    2
b    3
Name: 10, dtype: int64

In [4]:
# locは、1次元の場合、index値で指定
# 指定する値がリストの場合は、該当件数が1件でもpd.DataFrameで返される
df.loc[[10]]

    b  a  b
10  1  2  3

In [5]:
# locは、1次元の場合、index値で指定
# 指定する値が1つでも、該当件数が2件以上の場合pd.DataFrameで返される
df.loc[11]

    b  a  b
11  4  5  6
11  7  8  9

In [6]:
# locは、2次元の場合、1次元目がindex値、2次元目がcolumns値で指定
# 該当件数が1件の場合は、pd.Seriesになる
df.loc[:, 'a']

10    2
11    5
11    8
Name: a, dtype: int64

In [7]:
# locは、2次元の場合、1次元目がindex値、2次元目がcolumns値で指定
# リストで指定した場合は、該当件数が1件でもpd.DataFrameになる
df.loc[:, ['a']]

    a
10  2
11  5
11  8

In [8]:
# locは、2次元の場合、1次元目がindex値、2次元目がcolumns値で指定
# 指定する値が1つでも、該当件数が2件以上の場合pd.DataFrameで返される

    b  b
10  1  3
11  4  6
11  7  9

In [17]:
# locは、2次元の場合、1次元目がindex値、2次元目がcolumns値で指定
# 返り値が1つだと値の型に応じた返り値になる
df.loc[10, 'a']

2

In [18]:
type(df.loc[10, 'a'])

numpy.int64

In [58]:
# ilocは、1次元の場合、行番号で指定
df.iloc[0]

b    1
a    2
b    3
Name: 10, dtype: int64

In [59]:
df.iloc[[0]]

    b  a  b
10  1  2  3

In [60]:
# ilocは、2次元の場合、行番号と列番号で指定
df.iloc[:, 0]

10    1
11    4
11    7
Name: b, dtype: int64

In [61]:
df.iloc[:, [0]]

    b
10  1
11  4
11  7

In [62]:
# get_loc関数は、pd.Indexクラスが持っている関数
# Indexの値を検索して該当したインデックス番号を返す関数

df.index.get_loc(10)

0

In [63]:
# 連続だとsliceになる
df.index.get_loc(11)

slice(1, 3, None)

In [64]:
df.columns.get_loc('a')

1

In [65]:
# 非連続だとarrayになる
df.columns.get_loc('b')

array([ True, False,  True])